:root {
  --background-color: #f5f5f5; /* Light mode background */
  --text-color: #333333; /* Light mode text */
  --header-background: #3f51b5; /* Header background */
  --link-color: #ff4081; /* Link color */
}

.dark-mode {
  --background-color: #121212; /* Dark mode background */
  --text-color: #ffffff; /* Dark mode text */
  --header-background: #1e1e1e; /* Dark mode header */
  --link-color: #bb86fc; /* Dark mode link color */
}

.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: var(--header-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #ff79b0; /* You can adjust this for hover effect */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
